<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="header">
            <div class="header-title">
                <img
                    src="https://img.icons8.com/ios/452/retro-tv.png"
                    alt="tv icon"
                />
                <a href="/">Show Stopper</a>
            </div>
        </div>

        <div class="header-nav">
            <ul>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Logout" id="logout-btn" />
                    </form>
                </li>
                <li>
                    <a href="/">
                        <button id="home-btn">Dashboard</button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="title">
            <h1>Edit Show</h1>
        </div>
        <div class="edit-container">
            <div class="edit-form">
                <form action="/app/<%=show.id%>?_method=PUT" method="POST">
                    Title:
                    <input
                        type="text"
                        name="title"
                        value="<%=show.title%>"
                    /><br />
                    Image Url:
                    <input type="text" name="url" value="<%=show.url%>" /><br />
                    Category:
                    <input
                        type="text"
                        name="category"
                        value="<%=show.category%>"
                    /><br />
                    Season:
                    <input
                        type="number"
                        name="season"
                        value="<%=show.season%>"
                    /><br />Episode:
                    <input
                        type="number"
                        name="episode"
                        value="<%=show.episode%>"
                    /><br />
                    Completed: <input type="checkbox" name="completed" <%
                    if(show.completed === true) { %> checked <% } %> />
                    <br />
                    Reviews:
                    <input
                        type="text"
                        name="reviews"
                        value="<%=show.reviews%>"
                    /><br />
                    <input type="submit" name="" value="Submit" />
                </form>
            </div>
        </div>
    </body>
</html>
