<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1><%=currentUser.username%>'s Show Stopper</h1>
        <div class="index-container">
            <div class="action-btn">
                <a href="/app/new"
                    ><button id="index-add">Add New Show</button></a
                >
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout" id="logout-btn" />
                </form>
            </div>
            <div class="index-shows">
                <ul id="index-ul">
                    <% for(let i = 0; i <currentUser.shows.length; i++) { %> 
                        <li class="index-show">
                            <a href="/app/<%=currentUser.shows[i]._id; %>" id="index-title">
                                <%=currentUser.shows[i].title; %> </a>
                            <br />
                            
                            <a href="/app/<%=currentUser.shows[i]._id; %>">
                                <img
                                    id="index-img"
                                    src="<%=currentUser.shows[i].img%>"
                                    alt="<%=currentUser.shows[i].title%>"
                                />
                            </a>
                            <br />
                        </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </body>
</html>
