<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h1><%=currentUser.username%>'s Show Stopper</h1>
        <div class="header-nav">
            <a href="/app/new"><button id="index-add">Add New Show</button></a>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" id="logout-btn" />
            </form>
        </div>
        <div class="index-container">
            <div class="index-shows">
                <ul id="index-ul">
                    <% for(let i = 0; i <currentUser.shows.length; i++) { %> 
                        <li class="index-show">
                            Title: <a href="/app/<%=currentUser.shows[i]._id; %>" id="index-title">
                                <%=currentUser.shows[i].title; %> </a>
                            <br />

                            <a href="/app/<%=currentUser.shows[i]._id; %>">
                                <img
                                    id="index-img"
                                    src="<%=currentUser.shows[i].url%>"
                                    alt="<%=currentUser.shows[i].title%>"
                                />
                            </a>
                            <br />
                            <a href="/app/<%=currentUser.shows[i]._id%>/edit"
                                ><button>Edit</button></a
                            >
                            <form
                            action="/app/<%=currentUser.shows[i]._id%>?_method=DELETE"
                            method="POST">
                            <input type="submit" id="delete-btn" value="DELETE" />
                            </form>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>
